ul.nav.nav-sidebar
  li#totp_method_li(onclick='navClick(this);')
    a #{messages.api.totp}
  li#random_code_method_li(onclick='navClick(this);')
    a #{messages.api.random_code}
  li#bypass_method_li(onclick='navClick(this);')
    a #{messages.api.bypass}
  li#matrix_method_li(onclick='navClick(this);')
    a #{messages.api.matrix}