.col-sm-3.col-md-2.sidebar
    ul.nav.nav-sidebar
        label Méthodes
        li.active
            a(href='#') Code temporaire
        li
            a(href='#') Simple code
        li
            a(href='#') Bypass
        li
            a(href='#') Matrix