.col-sm-3.col-md-2.sidebar
    ul.nav.nav-sidebar
        label Methods
        li.active
            a(href='#') Google Authenticator 
        li
            a(href='#') Simple code
        li
            a(href='#') Bypass
        li
            a(href='#') Matrix