extends layout

block content
	include dashboard-navbar
	.container-fluid
		.row
			.col-sm-3.col-md-2.sidebar
				include dashboard-sidebar
			.col-sm-9.col-sm-offset-3.col-md-offset-2.main
				include dashboard-content
	script(type='text/javascript').
		init();