ul.nav.nav-sidebar
  li#google_authenticator_method_li(onclick='navClick(this);')
    a Code temporaire
  li#simple_generator_method_li(onclick='navClick(this);')
    a Simple code
  li#bypass_method_li(onclick='navClick(this);')
    a Bypass
  li#matrix_method_li(onclick='navClick(this);')
    a Matrix