ul.nav.nav-sidebar
  li#totp_method_li(onclick='navClick(this);')
    a Code temporaire
  li#random_code_method_li(onclick='navClick(this);')
    a Simple code
  li#bypass_method_li(onclick='navClick(this);')
    a Bypass
  li#matrix_method_li(onclick='navClick(this);')
    a Matrix