#totp_method.content-unit.method(hidden='true')
  h1.page-header Code temporaire (TOTP)
  .row
    p
      | Méthode permettant de générer des codes uniques de 6 chiffres
    p
      | Activer cette méthode d'authentification : oui
      span#totp_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method(this);')
      |  non
      span#totp_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method(this);')
    h2 QrCode
    p
      | Appuyez sur le bouton, puis scannez le code à l'aide de votre application Google Authenticator (iOS et Android) ou Authenticator+ (Windows Phone) ou entrez le code directement dans l'application
    button(onclick="$('#qrCode').toggle();$('#secret').toggle();") QrCode
    #qrCode(hidden='true')
    #secret(hidden='true')
#random_code_method.content-unit.method(hidden='true')
  h1.page-header Simple Code
  .row
    p
      | Méthode permettant de générer des codes aléatoire valides pour un certain temps et à usage unique
    p
      | Activer cette méthode d'authentification : oui
      span#random_code_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method(this);')
      |  non
      span#random_code_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method(this);')
#bypass_method.content-unit.method(hidden='true')
  h1.page-header Bypass
  .row
    p
      | Méthode permettant de générer une liste de codes aléatoire à usage unique
    p
      | Activer cette méthode d'authentification : oui
      span#bypass_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method(this);')
      |  non
      span#bypass_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method(this);')
#matrix_method.content-unit.method(hidden='true')
  h1.page-header Grille
  .row
    p
      | Activer cette méthode d'authentification : oui
      span#matrix_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method(this);')
      |  non
      span#matrix_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method(this);')
#transport_preference(hidden='true')
  h1.page-header Transport
  .row
    | Sms:
    label#sms_label
    #change_sms_form(hidden='true')
      input#sms_input(type='text')
      button#change_sms_btn(onclick="change_transport(this.id.split('_')[1]);") Valider
    button#modify_sms_btn(onclick="$('#change_sms_form').show(); $('#'+this.id).hide();") Modifier
    br
    |  Mail:
    label#mail_label
    #change_mail_form(hidden='true')
      input#mail_input(type='text')
      button#change_mail_btn(onclick="change_transport(this.id.split('_')[1]);") Valider
    button#modify_mail_btn(onclick="$('#change_mail_form').show(); $('#'+this.id).hide();") Modifier
