extends layout

block content
  .grey.lighten-4(style='display: flex;align-items: center;justify-content: center; height: 100%;')
    .row(style='text-align:center;')
      h2 ESUP OTP Manager
      .divider
      h5 Interface de gestion de mots de passe à usage unique
      br
      a.waves-effect.waves-light.btn.teal.darken-1(href='/preferences')
        | Se connecter
        i.material-icons.right lock_open