#users.content-unit(hidden='true')
  | Nom d'utilisateur:
  input#userInput(type='text')
  button(onclick='get_user();') Valider
  #userInfo(hidden='true')
    #google_authenticator_admin
      h1.page-header Code Temporaire
      p
    #simple_generator_admin
      h1.page-header Simple Code
      p
    #bypass_admin
      h1.page-header Bypass
      p#available_code
      p#used_code
      p#bypass_codes
      button(onclick='generate_bypass();') Générer nouveaux codes
      button(onclick='') Supprimer les codes
    #matrix_admin
      h1.page-header Grille
      p
      button(onclick='') Générer nouvelle grille
      button(onclick='') Supprimer la grille
