#users.content-unit(hidden='true')
  | Nom d'utilisateur:
  input#userInput(type='text')
  button(onclick='get_user();') Valider
  #userInfo(hidden='true')
    #google_authenticator_admin
      h1.page-header Code Temporaire
      p
      | Activer cette méthode d'authentification : oui
      span#manager_google_authenticator_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_user_admin(this);')
      |  non
      span#manager_google_authenticator_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_user_admin(this);')
      #google_authenticator_qrCode
      #google_authenticator_secret
      button(onclick='generate_google_authenticator();') Générer nouveau QrCode
      button(onclick='delete_google_authenticator_secret();') Supprimer le QrCode
    #simple_generator_admin
      h1.page-header Simple Code
      p
      | Activer cette méthode d'authentification : oui
      span#manager_simple_generator_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_user_admin(this);')
      |  non
      span#manager_simple_generator_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_user_admin(this);')
    #bypass_admin
      h1.page-header Bypass
      p
      | Activer cette méthode d'authentification : oui
      span#manager_bypass_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_user_admin(this);')
      |  non
      span#manager_bypass_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_user_admin(this);')
      p#available_code
      p#used_code
      p#bypass_codes
      button(onclick='generate_bypass();') Générer nouveaux codes
      button(onclick='delete_bypass_codes();') Supprimer les codes
    #matrix_admin
      h1.page-header Grille
      p
      button(onclick='') Générer nouvelle grille
      button(onclick='') Supprimer la grille