#users.content-unit(hidden='true')
  | Nom d'utilisateur:
  input#userInput(type='text')
  button(onclick='get_user();') Valider
  #userInfo(hidden='true')
    #totp_admin
      h1.page-header Code Temporaire
      p
      | Méthode permettant de générer des codes uniques de 6 chiffres
      p
      | Activer cette méthode d'authentification : oui
      span#manager_totp_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_user_admin(this);')
      |  non
      span#manager_totp_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_user_admin(this);')
      #totp_qrCode
      #totp_secret
      button(onclick='generate_totp();') Générer nouveau QrCode
      button(onclick='delete_totp_secret();') Supprimer le QrCode
    #random_code_admin
      h1.page-header Simple Code
      p
      | Méthode permettant de générer des codes aléatoire valides pour un certain temps et à usage unique
      p
      | Activer cette méthode d'authentification : oui
      span#manager_random_code_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_user_admin(this);')
      |  non
      span#manager_random_code_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_user_admin(this);')
    #bypass_admin
      h1.page-header Bypass
      p
      | Méthode permettant de générer une liste de codes aléatoire à usage unique
      p
      | Activer cette méthode d'authentification : oui
      span#manager_bypass_activate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='activate_method_user_admin(this);')
      |  non
      span#manager_bypass_deactivate.glyphicon.glyphicon-unchecked(aria-hidden='true', onclick='deactivate_method_user_admin(this);')
      p#available_code
      p#used_code
      p#bypass_codes
      button(onclick='generate_bypass();') Générer nouveaux codes
      button(onclick='delete_bypass_codes();') Supprimer les codes
    #matrix_admin
      h1.page-header Grille
      p
      button(onclick='') Générer nouvelle grille
      button(onclick='') Supprimer la grille