
script#home-dashboard(type='text/x-template').
    <div>
    <div v-if="messages.api">
       <h4>{{messages.api.title}}</h4>
       <p>
       <img class= "lock-solid" src="images/logo-transparent.png" style = "max-width: 150px; float: right" >
       {{messages.api.home.description}}
       </p>
       <p>{{messages.api.home.note}}</p>
     {{messages.api.home.methods}}
     <div class="flex-container">
      <div v-for="method in methods" v-if="method.activate & method.authorize"  class="methode" v-on:click = "navigate(method.name);" >
      <p>
      <img v-bind:src="'images/'+method.name+'.svg'" style = "max-width: 200px;" >
     </p>
     
      <span>{{messages.api.home[method.name]}}</span>
     </div>

     </div>
     
    </div>
    </div>
