script#random_code-method(type='text/x-template').
    <div>
    <br>
    <div class="row" style="text-align: center;">
    <img src="http://image.flaticon.com/icons/svg/149/149079.svg" style="max-height: 140px;max-width: 140px;">
    </div>
    </div>
