script#totp-method(type='text/x-template').
    <div>
    <div class="card">
    <div class="card-image">
    <div class="row" style="margin-bottom: 0 ;">
    <div class="col s1"><span class="white-text"></span></div>
    <div class="col s10" style="text-align: justify;">{{messages.api.methods.totp.howTo}}
    </div>
    </div>
    </div>
    <div class="card-content">
    <div class="row" style="margin-bottom: 0;">
    <div class="col s1 m3"><span class="white-text"></span></div>
    <div class="col s10 m6" style="text-align: center;">
    <p v-html="user.methods.totp.qrCode"></p>
    <p>{{user.methods.totp.message}}</p>
    </div>
    </div>
    </div>
    <div class="card-action">
    <div class="row" style="margin-bottom: 0;text-align: center;">
    <a class="waves-effect waves-light btn" v-on:click=generate_totp>{{messages.api.action.generate_qrcode}}<i class="material-icons right">sync</i></a>
    </div>
    </div>
    </div>
    <div>
      <a target="_blank" href="https://play.google.com/store/apps/details?id=org.esupportail.esupAuth">
        <img width="150px" src="images/play-store.png" title ="Télécharger Esup Auth pour Android" label="Android Esup Auth"/>
      </a>
      <a target="_blank" href="https://apps.apple.com/fr/app/esup-auth/id1563904941">
        <img width="150px" src="images/app-store.png" title ="Télécharger Esup Auth pour iOS" label="iOS Esup Auth"/>
      </a>
    </div>
    </div>
