body {
 visibility: hidden;
}

.bypass-method-codes a {
 display: none;
} 

.bypass-method-codes {
 visibility: visible;
 left: 0px;
 top: 0px;
 position:absolute;
 font-size: 200%;
 border-spacing: 0 1.5em;
}

