/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */


    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }


/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.nav-sidebar label {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #eee;
    margin-top: 15px;
    margin-bottom: 0;
}


/*
 * Main content
 */

.main {
    padding: 40px;
    margin-left: 200px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
        margin-left: 25%;
    }
}

.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.glyphicon:hover{
    color: lightblue;
}

.glyphicon:active{
    color: tomato;
}
/* custom */
.method-content{
    margin-bottom: 40px;
}

button{
    margin-left: 15px;
}

.label{
    margin-left: 10px;
}

h1 .label{
    font-size : 14px;
}

/*****************************************
Switch
*****************************************/
.Switch {
    position: relative;
    margin-left: 15px;
    display: inline-block;
    font-size: 1.6em;
    font-weight: bold;
    color: #ccc;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
    height: 18px;
    padding: 6px 6px 5px 6px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    background: #ececec;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.1), inset 0px 1px 3px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}

body.IE7 .Switch { width: 78px; }

.Switch span { display: inline-block; width: 35px; }
.Switch span.On { color: #33d2da; }

.Switch .Toggle {
    position: absolute;
    top: 1px;
    width: 37px;
    height: 25px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    background: #fff;
    background: -moz-linear-gradient(top,  #ececec 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #ececec 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #ececec 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #ececec 0%,#ffffff 100%);
    background: linear-gradient(top,  #ececec 0%,#ffffff 100%);

    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5);
    z-index: 999;

    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
}

.Switch.On .Toggle { left: 2%; }
.Switch.Off .Toggle { left: 54%; }


/* Round Switch */
.Switch.Round {
    padding: 0px 20px;
    border-radius: 40px;
}

body.IE7 .Switch.Round { width: 1px; }

.Switch.Round .Toggle {
    border-radius: 40px;
    width: 14px;
    height: 14px;
}

.Switch.Round.On .Toggle { left: 3%;}
.Switch.Round.Off .Toggle { left: 58%; }


.Switch.Round.On{ background: limegreen;}
.Switch.Round.Off{ background: lightcoral; }

.TransportSwitch.Round.On{ background: #428bca;}
.TransportSwitch.Round.Off{ background: lightgrey; }