{
    "CAS": {
        "version": "CAS1.0",
        "ssoBaseURL": "https://cas.org/cas",
        "serverBaseURL": "http://url_manager/"
    },
    "api_url": "http://url_api",
    "api_password":"XXXXXXXXXXXXXXXXXXXXXXXX",
    "users_secret":"XXXXXXXXXXXXXXXXXXXXXXXX",
    "session_secret_key": "dev-otp",
    "admins": ["barrywhite"],
    "managers": ["milesdavis","louisarmstrong"],
    "dev": {}
}